* {
  margin: 0;
  padding: 0;
}
body {
  background-color: beige;
}
#div-body {
  margin: 80px auto 1px;
  max-width: 990px;
  background-color: #B0C4DE;
}
header {
  text-align: center;
}
h2 {
  text-align: center;
  padding: 10px;
}
#color-palette {
  margin-left: 280px;
  margin-right: 250px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.color {
  width: 100px;
  height: 100px;
  margin-left: 5px;
  border: 1px solid black;
}
#corQuadPalet1 {
  background-color: black;
}
#corQuadPalet2 {
  background-color: greenyellow;
}
#corQuadPalet3 {
  background-color: red;
}
#corQuadPalet4 {
  background-color: orange;
}
#corQuadPalet5 {
  background-color: white;
}
#clean-pixel {
  margin: 25px 462px 1px 475px;
}
#pixel-board {
  margin: 25px 370px 5px 390px;
  padding-bottom: 25px;
  flex-wrap: wrap;
}
.pixel {
  width: 40px;
  height: 40px;
  background-color: white;
  border: 1px solid black;
  display: inline-block;
  margin: 1px;
}